:root {
  --background-image: url("./images/Homepage-bg.jpeg");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Arsenal";
}

body {
  background: var(--background-image);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f7ece5;
  position: sticky;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  margin-left: 20px;
  color: #161d2b;
}

h1 {
  margin-bottom: 0px;
}

p.subtitle {
  font-size: 27px;
  color: #212f35;
}

h2 {
  margin-left: 20px;
  font-size: 40px;
  color: #161d2b;
}

#search-bar {
  max-width: 20%;
  background-color: aliceblue;
  border-radius: 5px;
  margin-left: 20px;
  padding: 5px;
}

.big-container {
  display: flex;
  justify-content: center;
  margin-right: 200px;
  margin-top: 0;
  align-items: center;
}

#bike {
  background-color: #25a79a;
  box-shadow: 1px 5px 25px 3px #444;
  border-radius: 10px;
  width: 35%;
  padding: 0px;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  word-wrap: break-word;
}

#wrapper {
  background-color: #25a79a;
  box-shadow: 1px 5px 25px 3px #444;
  border-radius: 10px;
  max-width: 300px;
  padding: 10px;
  color: white;
  margin-bottom: 560px;
  margin-left: 100px;
}

#current-weather {
  text-align: center;
  font-size: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #212f35;
  line-height: 0%;
  margin-left: 5px;
}

.results {
  font-weight: lighter;
  color: antiquewhite;
}

.bike {
  padding: 5%;
}

p.description {
  text-transform: capitalize;
}

footer {
  margin-top: auto;
  margin-bottom: 15px;
  margin-left: 20px;
}
#past-search {
  margin-left: 20px;
}

.search-btn-history {
  background-color: #25a79a;
  border-radius: 2px;
  margin-right: 5px;
  padding: 3px;
  color: aliceblue;
  border: none;
  box-shadow: 3px #444;
}
